body {
  background-color: #e9e3e3;
}

ol {
  font-size: 16px;
  font-family: arial;
}

li {
  margin-bottom: 16px;
}

li > div {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 34px;
  margin-left: 30px;
  border: 1px solid #999;
  border-radius: 8px 8px 0 0;
}

.light {
  background-color: #f7f7f7;
}
.gray {
  background-color: #999;
}

.dark {
  color: #f7f7f7;
  background-color: #0f0f0f;
}

a {
  display: flex;
  width: 18px;
  height: 18px;
  align-content: center;
  justify-content: center;
}

.icon_bg {
  background-color: #f7f7f7;
}
